.wrap
  display: table
  width: 100%
  height: 100%
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  .menu 
    font-size: 0
    word-spacing: 0
    display: table-cell
    vertical-align: middle
    text-align: center
    list-style: none
    padding: 0
    margin: 0
    .sub 
      position: absolute
      display: none
    > li
      display: inline-block
      font-size: initial
      word-spacing: initial
      color: #fff
      background: green
      padding: 2px 5px
      &:hover 
        background: yellowGreen
        .sub 
          display: block
          padding: 5px 10px
          background: yellowGreen
