@-webkit-keyframes open-menu {
  /* line 7, style.sass */
  0% {
    -webkit-transform: rotateX(-90deg);
  }

  /* line 9, style.sass */
  50% {
    -webkit-transform: rotateX(15deg);
  }

  /* line 11, style.sass */
  85% {
    -webkit-transform: rotateX(-10deg);
  }

  /* line 13, style.sass */
  100% {
    -webkit-transform: rotateX(0deg);
  }
}
@keyframes open-menu {
  /* line 17, style.sass */
  0% {
    transform: rotateX(-90deg);
  }

  /* line 19, style.sass */
  50% {
    transform: rotateX(15deg);
  }

  /* line 21, style.sass */
  85% {
    transform: rotateX(-10deg);
  }

  /* line 23, style.sass */
  100% {
    transform: rotateX(0deg);
  }
}
/* line 27, style.sass */
body {
  font: 300 14px/150% "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

/* line 32, style.sass */
.wrap {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 42, style.sass */
.sub {
  position: absolute;
  display: none;
  left: 0;
  transform-origin-y: 0px;
  animation-play-state: paused;
  -webkit-transform-origin-y: 0px;
  -webkit-animation-play-state: paused;
  background-image: linear-gradient(top, #00a400, green);
  background-image: -webkit-linear-gradient(top, #00a400, green);
}
/* line 52, style.sass */
.sub li {
  border-bottom: 1px solid green;
  background: transparent;
}
/* line 55, style.sass */
.sub li:hover {
  background: green;
}
/* line 57, style.sass */
.sub li:last-child {
  border-bottom: none;
}

/* line 60, style.sass */
.menu {
  font-size: 0;
  word-spacing: 0;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}
/* line 70, style.sass */
.menu a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 5px 12px;
}
/* line 75, style.sass */
.menu a:hover {
  color: #fffdbd;
}
/* line 77, style.sass */
.menu > li {
  font-size: initial;
  word-spacing: initial;
  color: white;
  display: inline-block;
  padding: 0;
  position: relative;
  background: green;
}
/* line 85, style.sass */
.menu > li:hover {
  background: #00a400;
}
/* line 87, style.sass */
.menu > li:hover .sub {
  font-size: 12px;
  text-align: left;
  word-break: break-all;
  list-style: none;
  display: block;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(119, 119, 119, 0.5);
  animation: open-menu 400ms ease-in alternate running;
  -webkit-animation: open-menu 400ms ease-in alternate running;
}
